* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

#root {
  background-color: #303841;
  color: #eeeeee; }

.title {
  color: #00adb5; }

.usersContainer {
  width: 100%;
  padding-bottom: 5rem; }
  .usersContainer .usersFlex {
    display: flex;
    justify-content: space-evenly; }
    .usersContainer .usersFlex .userContainer {
      padding: 2rem;
      border: 2px solid #ff5722;
      border-radius: 2rem;
      cursor: pointer;
      margin-top: 3rem; }
      .usersContainer .usersFlex .userContainer h1 {
        margin: 0; }
    .usersContainer .usersFlex .currentUser {
      color: #eeeeee;
      background-color: #ff5722; }

.calendarContainer {
  width: 100%;
  height: 100vh;
  background-color: #12121f;
  color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10rem; }
  .calendarContainer .calendar {
    width: 100%;
    height: 100%;
    background-color: #222227;
    box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.4); }
    .calendarContainer .calendar .month {
      width: 100%;
      height: 30%;
      background-color: #ff5722;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 2rem;
      text-align: center;
      text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5); }
      .calendarContainer .calendar .month i {
        font-size: 2.5rem;
        cursor: pointer; }
      .calendarContainer .calendar .month h1 {
        font-size: 3rem;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        margin-bottom: 1rem; }
      .calendarContainer .calendar .month p {
        font-size: 1.6rem; }
    .calendarContainer .calendar .weekdays {
      width: 100%;
      height: 10%;
      padding: 0 0.2rem;
      display: flex;
      justify-content: space-evenly;
      align-items: center; }
      .calendarContainer .calendar .weekdays div {
        font-size: 1.2rem;
        font-weight: 400;
        letter-spacing: 0.1rem;
        width: calc(90% / 7);
        display: flex;
        justify-content: center;
        align-items: center;
        text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5); }
    .calendarContainer .calendar .days {
      width: 100%;
      height: 60%;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      padding: 0.2rem; }
      .calendarContainer .calendar .days div {
        font-size: 1.2rem;
        width: calc(90% / 7);
        height: 9.61%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
        transition: background-color 0.2s; }
        .calendarContainer .calendar .days div:hover:not(.today) {
          background-color: #303841;
          border: 0.2rem solid #00adb5;
          cursor: pointer; }
      .calendarContainer .calendar .days .today {
        background-color: #ff5722; }
      .calendarContainer .calendar .days .prev-date,
      .calendarContainer .calendar .days .next-date {
        opacity: 0.5; }
      .calendarContainer .calendar .days .event {
        cursor: pointer;
        width: .4rem;
        height: .4rem;
        background-color: #00adb5;
        border-radius: 50%; }

.customerContainer {
  border: 2px solid #ff5722;
  border-radius: 3rem;
  padding: 2rem;
  font-size: 1.5rem;
  margin-bottom: 1rem; }
  .customerContainer .customerName {
    display: flex;
    width: 100%;
    justify-content: space-between; }
    .customerContainer .customerName .btnDeleteUser {
      height: fit-content;
      padding: .6rem .8rem;
      border: solid #eeeeee 0.1rem;
      border-radius: 2rem;
      color: #eeeeee;
      background-color: #ff5722; }
  .customerContainer .customerData div {
    display: flex;
    justify-content: space-around;
    padding-bottom: 1rem; }
    .customerContainer .customerData div .info {
      width: 80%;
      padding: 0;
      margin: 0; }
    .customerContainer .customerData div .bold {
      font-weight: 700;
      width: 80%; }

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 3rem; }
  .form input, .form select {
    border: solid #ff5722 0.15rem;
    padding: 1rem;
    margin-top: 2rem;
    border-radius: 2rem;
    width: 50%; }
  .form .btnSend {
    font-size: 1.5rem;
    border-style: solid;
    background-color: #ff5722;
    color: #eeeeee;
    border-color: #ff5722;
    margin-top: 5rem;
    padding: 1rem;
    width: 50%;
    border-radius: 2rem; }
    .form .btnSend:hover {
      background-color: #eeeeee;
      color: #ff5722;
      border-color: #ff5722; }

.customerAddedContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: space-evenly; }
  .customerAddedContainer .btnAdd {
    border: #ff5722 solid 0.2rem;
    border-radius: 2rem;
    color: #303841;
    padding: .8rem; }
    .customerAddedContainer .btnAdd:hover {
      background-color: #ff5722;
      color: #eeeeee; }
