.usersContainer{
  width: 100%;
  padding-bottom: 5rem;
  .usersFlex{
    display: flex;
    justify-content: space-evenly;
    .userContainer{
      h1{
        margin: 0;
      }
      padding: 2rem;
      border: 2px solid $primaryColor;
      border-radius: 2rem;
      cursor: pointer;
      margin-top: 3rem;
    }
    .currentUser{
      color: $textColor;
      background-color: $primaryColor;
    }
  }
}